<!--
<div class="flex justify-center mt-8">
    <div class="w-full max-w-md">
        <div class="bg-white rounded-lg shadow-lg">
            <div class="px-6 py-4">
                <h2 class="text-2xl font-semibold text-gray-800 text-center">SignIn</h2>
                <form (submit)="signIn()" class="mt-4">
                    <div class="mb-4">
                        <input type="text" [(ngModel)]="user.email" name="email" class="w-full px-3 py-2 leading-tight border rounded-md shadow-sm focus:outline-none focus:shadow-outline" placeholder="Email" required autofocus>
                    </div>
                    <div class="mb-4">
                        <input type="password" [(ngModel)]="user.password" name="password" class="w-full px-3 py-2 leading-tight border rounded-md shadow-sm focus:outline-none focus:shadow-outline" placeholder="Password" required>
                    </div>
                    <button type="submit" class="w-full px-4 py-2 font-semibold text-white bg-green-500 rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600">
                        SignIn
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
-->