
    <div class="sitemap">
        <ul>
            <div class="container text-center" style="text-align: center; height: 5rem; margin-bottom: 1rem;display: flex;
            justify-content: center;">
                <div class="row" style="width: 10cm; text-align: center; height: 1cm;">
                    <div class="col" style="border: 2px solid #B197FC; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">
                        <i class="fa-solid fa-house fa-xl" style="color: #B197FC;"></i>
                        <hr>
                        <a href="inicio" style="text-decoration: none; color: #333;">Inicio</a>
                    </div> 
                </div>
              </div>
              <div class="container text-center" style="text-align: center; height: 5rem;">
                <div class="row">
                  <div class="col" style="border: 2px solid #B197FC; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">
                    <li><a href="listar-empleados">Empleados</a>
                      <hr>
                        <ul>
                            <li><a href="#">Registrar</a></li>
                        </ul>
                    </li>
                  </div>
                  <div class="col" style="border: 2px solid #B197FC; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">
                    <i class="fa-solid fa-clipboard-list fa-xl" style="color: #B197FC;"></i>
                      <li><a href="listar-recurso">Almácen</a>
                      <hr>
                        <ul>
                            <li><a href="#">Registrar recurso</a></li>
                        </ul>
                    </li>
                  </div>
                  <div class="col" style="border: 2px solid #B197FC; border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">
                    <li><a href="#">Asignación</a>
                      <hr>
                        <ul>
                            <li><a href="#">Asignar</a></li>
                        </ul>
                    </li>
                  </div>
                </div>
              </div>
        </ul>
    </div>
