<div class="container">
  <div class="row">
    <form [formGroup]="filtroEmpleado" class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input class="form-control" id="nombre" formControlName="nombre">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="apaterno" class="form-label">Apellido Paterno</label>
            <input class="form-control" id="apaterno" formControlName="aPaterno">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="amaterno" class="form-label">Apellido Materno</label>
            <input class="form-control" id="amaterno" formControlName="aMaterno">
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="idEmpleado" class="form-label">Id Empleado</label>
            <input class="form-control" id="idEmpleado" formControlName="idEmpleado">
          </div>
        </div>
        <div class="container">
          <div class="float-sm-end float-md-end float-lg-end float-xl-end float-xxl-end">
            <button type="submit" class="btn btn-primary"(click)="filtrarRecursos(filtroRecurso.value)">Buscar</button>
          </div>
        </div>
    </form>
    <div class="container mt-5" [hidden]="dataEmpleados.length === 0">
      <table class="table table-bordered table-responsive">
        <caption>Empleados</caption>
        <thead>
          <tr>
            <th scope="col">  </th>
            <th scope="col">Id Empleado</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let empleado of dataEmpleados">
            <th scope="row"><input type="radio" class="form-check-input" id="empleado{{empleado.idEmpleado}}" name="empleado" (change)="eventEmpleado($event, empleado)"></th>
            <th scope="row">{{ empleado.idEmpleado }}</th>
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.aPaterno }}</td>
            <td>{{ empleado.aMaterno }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <hr>

  <div class="row" [hidden]="!isEmpleadoSeleccionado()">
    <form [formGroup]="filtroRecurso" class="row">
      <div class="col-md-4">
        <div class="mb-3">
          <label for="numSerie" class="form-label">Número Serie</label>
          <input class="form-control" id="numSerie" formControlName="numSerie">
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="recurso" class="form-label">Recurso</label>
          <input class="form-control" id="recurso" formControlName="recurso">
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="marca" class="form-label">Marca</label>
          <input class="form-control" id="marca" formControlName="marca">
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <label for="modelo" class="form-label">Modelo</label>
          <input class="form-control" id="modelo" formControlName="modelo">
        </div>
      </div>
      <div class="container">
        <div class="float-sm-end float-md-end float-lg-end float-xl-end float-xxl-end">
          <button type="submit" class="btn btn-primary"  (click)="filtrarEmpleados(filtroEmpleado.value)" >Buscar</button>
        </div>
      </div>
    </form>
    <div class="container mt-5" [hidden]="dataRecursos.length === 0">
      <table class="table table-bordered">
        <caption>Recursos</caption>
        <thead>
          <tr>
            <th scope="col">  </th>
            <th scope="col">Número Serie</th>
            <th scope="col">Recurso</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let recurso of dataRecursos">
            <th scope="row"><input type="checkbox" class="form-check-input" id="asignar" (change)="event($event, recurso)"></th>
            <th scope="row">{{ recurso.numSerie }}</th>
            <td>{{ recurso.recurso }}</td>
            <td>{{ recurso.marca }}</td>
            <td>{{ recurso.modelo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="d-grid gap-1 col-2 mx-auto">
      <button type="submit" class="btn btn-success btn-sm" [disabled]="!isEmpleadoSeleccionado() || !isRecursosSeleccionados()" (click)="asignarRecursos()">Asignar</button>
    </div>
  </div>
</div>
